VITE_SUPABASE_URL=https://xwvrsavvkpmepopvizzz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh3dnJzYXZ2a3BtZXBvcHZpenp6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5NzM0NTYsImV4cCI6MjA5MDU0OTQ1Nn0.7uhfnto9Q8Wx3yAQDPr7dKnxh1oMmd8VeiK5k6wAOHE
